<mat-drawer-container>
  <mat-drawer #drawer mode="side" opened>
    <h1 >Equity Data Science</h1>
    <mat-list role="list" class="side-bar">
      <mat-list-item role="listitem" [routerLink]="['/']" routerLinkActive="router-link-active" >Home</mat-list-item>
      <mat-list-item role="listitem" [routerLink]="['/login']" routerLinkActive="router-link-active"  >Login</mat-list-item>
      <mat-list-item role="listitem" [routerLink]="['/employees']" routerLinkActive="router-link-active" >Employees</mat-list-item>
      <!-- <mat-list-item role="listitem">Link 4</mat-list-item>
      <mat-list-item role="listitem">Link 5</mat-list-item> -->
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="right-side">
      <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="drawer.toggle()">reorder</mat-icon>
      <h1>Equity Data Science</h1>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>